/* Body settings */

.body {
    margin: 15px 70px;
    display: grid;
    grid-template-areas: "account_info" "account_products";
    grid-template-rows: auto;
}

/* Account info settings */

.account-settings {
    grid-area: account_info;
}

.account-header {
    font-size: 35px;
    border-bottom: 1px solid var(--gray_color-background);
}

/* New account info styles */

.info-row .data-container {
    width: 300px;
    margin: auto;
    padding: 10px 0;
}

.info-row .data-container label {
    display: block;
    font: var(--font-usual);
    color: var(--gray_color-text);
    font-size: 15px;
}

.info-row .data-container .data-row .data-label{
    font: var(--font-usual);
    font-size: 18px;
    color: black;
    padding: 10px;
    border-bottom: 1px solid var(--gray_color-background);
    transition: border-bottom 500ms;
}

.info-row .data-container .data-row .data-label:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.info-row .data-row label.error {
    font: var(--font-usual);
    font-size: 13px;
    color: var(--red_color-background);
    padding-top: 0;
    border: 0;
}

.info-row .data-container .data-row input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font: var(--font-usual);
    font-size: 18px;
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--gray_color-background);
}
.info-row .controlls {
    display: flex;
    justify-content: end;
}

.info-row .controlls button {
    margin: 5px 2px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font: var(--font-usual);
    font-size: 13px;
    font-weight: 500;
    color: var(--white_color-background);
    user-select: none;
    cursor: pointer;
}
.info-row .controlls button:hover,
.info-row .controlls button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.info-row .controlls button.edit {
    background: var(--blue_color-background);
}

.info-row .controlls button.cancel {
    background: var(--red_color-background);
}

/* Account product styles */

.account-products {
    grid-area: account_products;
}