body{
    height: 100vh;
    padding: 0;
}

/* Page container styles */
.page_container{
    border-radius: 50px;
    width: 70%;
}

.body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "image form";
    grid-template-columns: 2fr 3fr;
}

/* Image block styles */

.body .image_block {
    grid-area: image;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: url('/assets/img/pigeonimg.png');
    background-size: cover;
    background-position: -600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.body .image_block .redirect_block {
    width: 100%;
    margin: 30px;
    border-radius: 15px;
    background-color: black;
    color: var(--white_color-background);
    opacity: 70%;
    font: normal 600 50px 'Roboto';
}
.body .image_block .redirect_block a{
    color: var(--white_color-background);
}

/* Form box styles */

.body .form_block {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form header styles */

.body .form_block .form_container .header {
    font: normal 600 50px 'Roboto';
    padding: 40px 0;
}

/* Form row styles */

.body .form_block .form_container .form_row {
    padding: 10px 0;
}

.body .form_block .form_container .form_row label.block{
    display: block;
    font: normal 500 16px 'Roboto';
}

.body .form_block .form_container .form_row label{
    font: normal 400 16px 'Roboto';
}

.body .form_block .form_container .form_row #login, #password{
    width: 90%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid gray;
}

.body .form_block .form_container .form_row button {
    width: 100%;
    height: 40px;
    padding: auto 10px;
    border-radius: 15px;
    border: 0;
    color: var(--white_color-background);
    font: normal 400 20px 'Roboto';
    background: var(--blue_color-background);
}

/* Registration settings */

.form_container .form_row #login,
#password,
#password_confirm,
#name,
#surname,
#email{
    width: 90%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid gray;
}

.form_container .form_row #login.available,
#password.available,
#password_confirm.available,
#name.available,
#surname.available,
#email.available {
    border: 1px solid green !important;
}

.form_container .form_row #login.notavailable,
#password.notavailable,
#password_confirm.notavailable,
#name.notavailable,
#surname.notavailable,
#email.notavailable {
    border: 1px solid red !important;
}

/* Save toke styles */