body {
    margin: 0;
    padding: 0;
}


/* Page 1 styles */

.page1 {
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
}

.page1 .header {
    display: flex;
    background: #0B0B0B;
    align-items: center;
    justify-content: end;
    height: 15%;
    padding-right: 85px;
}

.page1 .header a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    margin-left: 100px;
}

.page1 .logo_block {
    background-image: url('/assets/img/pigeonimg.png');
    width: 100%;
    height: 85%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas: "slogan ." "vector vector";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 145px;
}

.page1 .logo_block .text_block {
    grid-area: slogan;
    padding: 100px 150px;
}


/* Text block settings*/

.page1 .logo_block .text_block .slogan_block {
    padding: 0;
    margin: 0;
}

.page1 .logo_block p {
    padding: 0;
    margin: 0;
}

.page1 .logo_block .slogan_block p {
    font-family: Roboto;
    letter-spacing: 0.03em;
    font-size: 7em;
}

.page1 .logo_block .slogan_block .p1 {
    font-weight: 300;
    font-style: normal;
}

.page1 .logo_block .slogan_block .p2 {
    font-style: italic;
    font-weight: 500;
}

.page1 .logo_block .slogan_block .p3 {
    font-style: normal;
    font-weight: 700;
}

.page1 .logo_block .achivment_block p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 0.025em;
    background: #000000;
    padding: 5px;
    margin-top: 15px;
}


/* Vector block settings */

.page1 .logo_block .vector_block {
    display: flex;
    grid-area: vector;
    justify-content: center;
    align-items: center;
}

.page1 .logo_block .vector_block .vector_img {
    background-image: url('/assets/img/vector.png');
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
}


/* Page 2 styles */

.page2 {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/birds.png');
    display: grid;
    grid-template-areas: "qacontainer" "descriptionblock";
    grid-template-rows: 5fr 1fr;
}

.page2 .qacontainer {
    grid-area: qacontainer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 .qacontainer .qa_block p {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 144px;
    color: #FAFAFA;
}

.page2 .qacontainer .qa_block p.answer {
    font-weight: 700;
}

.page2 .description_block {
    grid-area: descriptionblock;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 120px;
}

.page2 .description_block .p_container {
    width: 900px;
}

.page2 .description_block .p_container p {
    display: block;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 48px;
    color: #FFFFFF;
}

.page2 .description_block .p_container .p1 {
    float: left;
}

.page2 .description_block .p_container .p2 {
    float: right;
}


/* Page 3 styles */

.page3 .team_header {
    width: 100%;
    height: 182px;
    background: #33442D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3 .team_header p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #FFFFFF;
}

.page3 .team_block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.team_member {
    display: grid;
    padding: 80px;
    grid-template-areas: "image" "name_position" "description";
    grid-template-rows: 3fr 1fr 1.5fr;
}

.team_member_photo {
    padding: 10px;
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_member_photo img {
    width: 393px;
    height: 393px;
}

.team_member .team_member_name_postition {
    grid-area: name_position;
    padding-top: 15px;
}

.team_member_name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.team_member_position {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    text-align: center;
}

.team_member_description {
    grid-area: description;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Footer styles */

.footer {
    height: 100px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}