body {
    --gray_color-text: #b3b1b1;
    --red_color-background: #ff5542;
    --gray_color-background: #DCE0E8;
    --white_color-background: #FFFFFF;
    --blue_color-background: #1A73E8;
    --font-navigation: normal 700 18px 'Roboto';
    --font-usual: normal 400 18px 'Roboto';
    --font-usual-card-labels: normal 600 13px 'Roboto';
    margin: 0;
    padding: 65px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray_color-background);
    font: var(--font-navigation);
}

.page_container {
    width: 90%;
    height: 90%;
    border-radius: 35px;
    background: var(--white_color-background);
}

/* Header styles */

.page_container .header {
    height: 100px;
    display: grid;
    grid-template-areas: "logo_block navigation_block login_block";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}


/* Navigatiion styles */

.page_container .header .navigation_block {
    grid-area: navigation_block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_container .header .navigation_block a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--gray_color-text);
    padding: 0 16px;
}

.page_container .header .navigation_block a:hover {
    color: black;
}

.page_container .header .navigation_block a.active {
    color: black;
}


/* Logo styles */

.page_container .header .logo_block {
    grid-area: logo_block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_container .header .logo_block .logo img {
    width: 65px;
    height: 65px;
}

.page_container .header .logo_block .name {
    text-transform: uppercase;
    padding-left: 25px;
}


/* Login box styles */

.page_container .header .login_box {
    grid-area: login_block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_container .header .login_box a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--gray_color-text);
    margin: 5px;
    padding: 15px;
}

.page_container .header .login_box a:hover {
    border-radius: 35px;
    background: var(--blue_color-background);
    color: var(--white_color-background);
}