/* Body styles */

/* Body header styles */

.body .body_header {
    display: grid;
    height: 300px;
    grid-template-areas: "heading" "description";
    grid-template-rows: 1fr 1fr;
}


/* Heading styles */

.body .body_header .heading {
    grid-area: heading;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .body_header .heading p {
    font: normal 300 40px 'Roboto';
    margin: 0;
    padding: 0;
}


/* Description styles */

.body .body_header .description {
    grid-area: description;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .body_header .description p {
    max-width: 560px;
    text-align: center;
    color: var(--gray_color-text);
    font: normal 400 16px 'Roboto';
}


/* Products row styles */

.body .products_row {
    display: flex;
    justify-content: center;
}


/* Product styles */

.body .product {
    width: 280px;
    height: max-content;
    padding: 30px;
    margin: 25px;
    border: 1px solid black;
    border-radius: 15px;
}


/* Produc container styles */

.body .product_container {
    display: grid;
    grid-template-areas: "price" "type" "advantages" "controls";
}


/* Price styles */

.body .product_container .price {
    grid-area: "price";
    padding-bottom: 10px;
}

.body .product_container .price .price_value {
    display: inline;
    font: normal 700 36px 'Roboto';
}

.body .product_container .price .price_period {
    display: inline;
    font: normal 700 16px 'Roboto';
    color: var(--gray_color-text);
}


/* Type styles */

.body .product_container .product_type {
    grid-area: type;
    padding: 10px 0;
}

.body .product_container .product_type div {
    padding: 5px 0;
}

.body .product_container .product_type .type_name {
    font: normal 400 35px 'Roboto';
    text-transform: capitalize;
}

.body .product_container .product_type .type_description {
    font: normal 400 18px 'Roboto';
    color: var(--gray_color-text);
}


/* Advantages styles */

.body .product_container .advantages {
    grid-area: advantages;
    padding: 10px 0;
    border-top: 1px solid var(--gray_color-background);
}

.body .product_container .advantage_row {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 0;
}

.body .product_container .advantage_row img {
    display: inline;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.body .product_container .advantage_row div {
    display: inline;
    font: normal 400 16px 'Roboto';
}


/* Controls styles */

.body .product_container .controll {
    grid-area: controls;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .product_container .controll a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--blue_color-background);
    font: normal 500 18px 'Roboto';
    padding: 10px 0;
    width: 100%;
    border: 1px solid var(--gray_color-background);
    border-radius: 35px;
}

.body .product_container .controll a:hover {
    color: white;
    background: var(--blue_color-background);
    border-color: var(--blue_color-background);
}