#QA-block {
    width: 60%;
    margin: 50px auto;
}

/*
.QA-container{
    display: grid;
    grid-template-rows: 50px;
    border: 1px solid var(--gray_color-text);
    grid-row-gap: 1px;
    background: var(--gray_color-text);
}

.QA-row {
    display: grid;
    grid-template-areas: "top-part" "bottom-part";
    grid-template-rows: auto;
}


.QA-row .top {
    grid-area: top-part;
    display: grid;
    grid-template-areas: "question like-dislike expand";
    grid-template-columns: 80% auto auto;
    grid-template-rows: 50px;
    background: var(--gray_color-background);
}

.QA-row .top .question {
    grid-area: question;
    font: var(--font-usual);
    display: flex;
    align-items: center;
    padding: 15px;
}

.QA-row .top .like-dislike-block {
    grid-area: like-dislike;
    display: grid;
    grid-template-areas: "like-logo like-dislike dislike-logo";
    grid-template-columns: 50px auto 50px;
}

.QA-row .top .like-dislike-block .like-dislike {
    grid-area: like-dislike;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QA-row .top .like-dislike-block img.like {
    grid-area: like-logo;
}

.QA-row .top .like-dislike-block img.dislike {
    grid-area: dislike-logo;
}

.QA-row .top .like-dislike-block img{
    height: 30px;
    width: 30px;
    margin: auto;
}

.QA-row .top .expand {
    grid-area: expand;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none
}

.QA-row .top .expand:hover {
    cursor: pointer;
}

.QA-row .bottom {
    grid-area: bottom-part;
    display: grid;
    grid-template-areas: "answer" "controlls";
    grid-template-rows: auto;
    background: var(--white_color-background);
}

.QA-row .bottom .answer {
    grid-area: answer;
    padding: 15px;
}

.QA-row .bottom .controlls {
    grid-area: controlls;
    height: 50px;
    display: flex;
    justify-content: end;
    margin-right: 15px;
}

.QA-row .bottom .controlls img {
    height: 30px;
    width: 30px;
    margin: 0 15px;
}

.QA-row .bottom .controlls img:hover {
    cursor: pointer;
}
*/

/* Styles for lists */

li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}

img.like, img.dislike {
    height: 30px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

ul.QA-row {
    padding: 10px;
}

/* Top settings */

li.top {
    display: grid;
    grid-template-areas: "question like expand";
    grid-template-columns: 70% 20% 10%;
    border: 1px solid var(--gray_color-text);
    border-radius: 15px;
}

li.top .question {
    grid-area: question;
    padding: 10px;
    font: var(--font-usual);
}


li.top .likes-dislikes-block {
    grid-area: like;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.top .expand {
    grid-area: expand;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.top .expand:hover {
    cursor: pointer;
}

/* Bottom settings */

ul.QA-row ul {
    border-radius: 15px;
    border: 1px solid var(--gray_color-text);
    border-top: 0;
    padding: 10px;
    font: var(--font-usual);
}

li.bottom .controlls {
    display: flex;
    justify-content: end;
    align-items: center;
}